
/*
  ====================================
  Main Styles
  ====================================
*/

body {
	background: #B2FFFF;
}

/*
  ====================================
  Tweets Section
  ====================================
*/

.tweets {
	display: block;
	margin: 5px auto;
	width: 550px;
	background-color: pink;
	padding: 5px 5px;
	text-align: left;
	border-radius: 5px;
}

