
/*
  ====================================
  Main Styles
  ====================================
*/

body {
	background: #F3F6F9;
	margin-top: 50px;
}

section {
	background: pink;
	height: 500px;
	width: 500px;
}

/*
  ====================================
  Tweets Section
  ====================================
*/

.box {
	display: block;
	margin: 2px auto;
	width: 550px;
	background-color: #FFFFFF;
	padding: 7px 5px;
	text-align: left;
}

